*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;

}
:root{
    --bg-color:#2a2a2a;
    --second-bg-color: #202020;
    --text-color:#fff;
    --second-color:#ccc;
    --color:rgb(37, 60, 88);
    --main-color:#ff4d05;
    --big-font: 5rem;
    --h2-font: 3rem;
    --p-font: 1.1rem;
}
body{
    background: var(--text-color);
    color: var(--color);
}
    

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 25px 15%;
    border-bottom: 1px solid transparent;
    transition: all .45s ease;

}
.logo{
   
    color: var(--text-color);
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1px;
   
}
span{
    color: var(--text-color);
    font-weight: bolder;
}
.navlist{
  
    display: flex;
}
.navlist a{
    color: var(--text-color);
    font-size: 16px;
    font-weight: 500;
    padding: 0 25px;
    transition: all .45s ease;
}
.navlist a:hover{
    color: var(--main-color);
}
#menu-icon{
   
    border-radius: 8px;
    color: var(--text-color);
    font-size: 35px;
    cursor: pointer;
    margin-left: 25px;
    z-index: 1001;
    display: none;
}
.navlist .btn{
    background-color: var(--second-bg-color);
    color: var(--text-color);
    padding: 10px;
}
.container{
    margin-left: 2px;
    margin-top: 20px 6px ;
    background-color: var(--color);
    height: 15vh;
    width: 100%;
    padding: 12px 15%;
}


/*home section*/
section{
    padding: 100px 5% 60px;
}
.home{
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url('image/header.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    align-items: center;
    justify-content: flex-start;
}
.slide{
    margin-bottom: 20px;
}

.home-text h1{
    font-size: var(--h2-font);
    font-weight: 600;
    color: var(--color);
    line-height: 1;
    margin: 0 0 10px ;
    margin-bottom: 20px;
}
.home-text h3{
    
    height: 80px;
    width: 35%;
    padding: 10px;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    background-color: rgba(255, 255, 0, 0.818);
    opacity: 60px;
    color: var(--text-color);
    font-family: 'Labrada', serif;
    margin: 0 0 40px;
    font-size: 3rem;
    font-weight: 600;
    line-height: 1.1;
  
}
.home-text p{
    color: var(--second-bg-color);
    line-height: 1.8;
    font-size: var(--p-font);
    margin-bottom: 40px;
}
header.sticky{
    background: var(--color);
    border-color: 1px solid #ffffff1a;
    padding: 12px 15%;
}
.quote-container{
   
    display: grid;
    grid-template-columns:  repeat(2, minmax(250px,auto));
}
.quote-container .quote-text h2{
    font-size:35px;
    font-weight: 500;
    color: var(--color);
    line-height: 1;
    margin-top: 10px ;
    margin-bottom: 20px;
}
.quote-container .quote-text .p-text{
    color: var(--second-bg-color);
    line-height: 1.8;
    font-size: var(--p-font);
    margin-top: 40px;
    margin-bottom: 40px;
}
.icon-container a i{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
     border: 3px  solid orange;
    margin-bottom: 20px;
    font-size: 55px;
    padding: 40px  70px;
    width: 3rem;
}

.icon-container a i:hover{
    background-color: var(--color);
    color: var(--text-color);
    transition: all .45s ease;
}
.contact-icon{
    
    margin-right: 120px;
    display: grid;
    grid-template-columns:  repeat(auto-fit, minmax(250px,auto));
}
.contact-icon p{
    
    font-size: var(--p-font);
    line-height: 1;
}

.contact-icon .text h2{
    margin-top: 30px;
    font-size: 25px;
}

.contact-form form{
    position: relative;
}
.contact-form form input, form textarea {
    width: 90%;
    padding: 15px;
    background: var(--bg-color);
    color: var(--text-color);
    border: none;
    outline: none;
    font-size: 15px;
    margin-left: 40px;
    margin-bottom: 10px;
    border-radius: 8px;
}
.area{
    display: flex;
    flex-direction: column;
}
.form-container label{
    margin-left: 40px;
    font-weight: 500;
}
.contact-form form #birthday , #number{
    width: 50%;
}

.contact-form textarea{
    resize: none;
    height: 240px;
}
.contact-form .submit{
    display: inline-block;
    font-size: 16px;
    background: var(--color);
    color: var(--text-color);
    width: 100%px;
    transition: all .45s ease;
}
.contact-form .submit:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.form-container{
    padding: 30px 10px 40px;
 
    width: 100%;
    background-color: rgb(255, 191, 0);
}
.form-container h2{
    font-size:35px;
    font-weight: 500;
    color: var(--color);
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    
    margin-bottom: 40px;
}
.customer-review{
    margin-top: 80px;
    margin-bottom: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.main-text-review{
    text-align: center;
}
.main-text-review p{
    color: var(--second-bg-color);
    font-size: 30px;
    padding: 7px;
    margin-bottom: 6rem;
    line-height: 1.8;

}
.main-text-review h2{
    margin-top: 80px;
    color: var(--color);
    font-size: var(--h2-font);
    line-height: 1;
}
.review{
    border-radius: 8px;
    margin: 0 auto;
    margin-bottom: 2rem;
    background-color: var(--color);
    height: 20vh;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.review article{
    color: whitesmoke;
    padding: 5px;
}
.img img{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    gap: 4rem;
    border: 2px solid var(--color);
    margin-bottom: 10rem;
}
.img img:hover{
    transform: translateX(-1.1px);
    border-radius: 50%;
    border: 2px solid var(--color);
    transition: all .45s ease;

}
/*services section*/

.services{
    background: rgb(184, 184, 176);
}
.main-text{
    text-align: center;
}
.main-text p{
    color: var(--second-bg-color);
    font-size: 25px;
    margin-bottom: 15px;
    line-height: 1.8;

}
.main-text h2{
    color: orange;
    font-size: var(--h2-font);
    line-height: 1;
}
.services-content{
    display: grid;
    grid-template-columns: repeat(3, minmax(250px,auto));
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    margin-top: 3rem;
}

.box{
    border: 1px solid var(--color);
    padding: 35px 45px;
    border-radius: 8px;
    transition: all .45s ease;
}
.box .s-icon i{
   border-radius: 5px;
    align-items: center;
    color: orange;
    border:2px solid orange;
    padding: 10px;
    font-size: 30px;
}

/*about section*/
.about{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 30px;
}

.about-img img{
   
    margin-top: 10px;
   margin-right: 25px;
   margin-bottom: 20px;
   
}

.about-text h2{
    margin-top: 40px;
    color: orange;
    font-size: var(--h2-font);
    line-height: 1;
}
.about-text h3{
    font-size: 24px;
    color: var(--color);
    line-height: 1.7;
    font-weight: 600;
    margin: 15px 0 30px;
}

.about-text p{
   
    font-size: var(--p-font);
    line-height: 1.8;
    
}

/*=====================*/
.portfolio-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px,auto));
    align-items: center;
    gap: 2.5rem;
    margin-top: 5rem;
}
.row{
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
}
.row img{
 
    margin-left: 40px;
    height: 200px;
    width: 50%;
    display: block;
    
}
.layer{
    width: 50%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.1),#ff004f);
    position: absolute;
    border-radius: 8px;
    left: 0;
    bottom: 0;
    margin-left: 40px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 35px;
    transition: height 0.3s;
}
.layer h5{
    color: var(--main-color);
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}
.layer p{
    color: var(--text-color);
    
    font-size: 1rem;
    line-height: 1.8;

}
.layer i{
    color: var(--main-color);
    margin-top: 20px;
    font-size: 20px;
    background: var(--text-color);
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.row:hover img{
 
}
.row:hover .layer{
    height: 100%;
}
 
/*moving tips*/
.tips-container{
   
    margin-top: 10rem;
    gap: 5rem;
    display: grid;
    grid-template-columns:  repeat(2, minmax(250px,auto));
}

.tips-container .tip-text h2{
    font-size: 23px;
    color: orange;
}

.tips-container .tip-text p{
    font-size: 0.9rem;
    line-height: 1.8;
}
.tips-container .tip-text .para{
    font-size: 0.9rem;
    line-height: 1.8;
}
.tips-container .tip-text .h3-class{
    margin-top: 3px;
    margin-bottom: 20px;
    color: var(--color);
    font-weight: 200px;
}



.moving-image img{
    border-radius: 8px;
    height: 350px;
    width: 88%;
    margin-bottom: 3rem;
}
.tip-text-2 h2{
    color: orange;
    margin-top: 10px;
    font-size: 23px;
    
}
.tip-text-2 h3{
    margin-top: 3px;
    margin-bottom: 3rem;
}
.tip-text-2 p{
    line-height: 1.8;
    font-size: 1rem;
    margin-bottom: 3rem;
   
}
.icon a{
    font-size: 15px;
    color: black;
}
.icon i{
    color: orange;
    
    margin-right: 10px;
    font-size: 25px;
    
}


@media (max-width: 1480px){
    header{
        padding: 12px 2.5%;
        transition: .1s;
    }
    header.sticky{
        padding:10px 2.5%;
         transition: .1s;
    }
    section{
        padding: 110px 3% 60px;
    }
    .footer{
        padding: 15px 3%;
    }
}

/*footer section*/
.footer{
    padding: 20px 15%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    background: var(--bg-color);
}
.footer-text p{
    font-size: 14px;
   color: var(--second-color);
   
    
}
.top i{
    padding: 10px;
    border-radius: 8px;
    font-size: 15px;
    background: var(--main-color);
    color: var(--text-color);
}









@media (max-width: 1100px){
    :root{
        --big-font: 4rem;
        --h2-font: 2.5rem;
        --p-font: 1rem;
        transition: .1s;
    }
    .home-text h3 {
        font-size: 2.5rem;
    }
    .home{
      height: 80vh;  
    }
}
@media (max-width: 920px){
 .about{
    grid-template-columns: 1fr;
 }
 .about-img{
    text-align: center;
     order: 2;
 }
 .about-img img{
    width: 100%;
    height: auto;
    max-width: 100%;
 }
 .contact{
    grid-template-columns: 1fr;
 }

}
@media (max-width: 840px){
    #menu-icon{
        display: block;
    }
    .navlist{
        position: absolute;
        top: -1000px;
        right: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        background: var(--bg-color);
        text-align: left;
        transition:all .45s ease ;
    }
    .navlist a{
        display: block;
        margin: 17px;
        font-size: 20px;
        transition: all .45s ease;
        color: var(--text-color);
    }
    .navlist a:hover{
        color: var(--main-color);
    }
    .navlist a.active{
        color: var(--text-color);

    }
    .navlist.open{
        top: 100%;
    }
}
@media (max-width: 446px){
    .contact-icon{
        margin-right: 120px;
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .quote-container{
   
        display: grid;
        grid-template-columns: repeat(30%, mimmax(250px));
    }
}